<h1>Reviews</h1>
<ul>
  <% @reviews.each do |review| %>
    <li><%= review.content %> - <%= review.rating %>/5</li>
    <% end %>
</ul>
<%= link_to "back to restaurant", restaurant.path(@restaurant) %>
